@font-face {
    font-family: 'Lora-Medium';
    url('../fonts/Lora-Medium.ttf')  format('truetype');
}

.e-sprint-choice-with-calendar-wrapper .calendar {
    margin-top: 15px;
}

.e-sprint-choice-with-calendar-wrapper ul {list-style-type: none;}

/* Month header */
.e-sprint-choice-with-calendar-wrapper .month {
    padding: 5px;
    width: 100%;
    background: #fafafa;
    text-align: center;
}

/* Month list */
.e-sprint-choice-with-calendar-wrapper .month ul {
    margin: 0;
    padding: 0;
}

.e-sprint-choice-with-calendar-wrapper .month ul li {
    color: #000;
    font-size: 18px;
    letter-spacing: 1px;
}

/* Previous button inside month header */
.e-sprint-choice-with-calendar-wrapper .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.e-sprint-choice-with-calendar-wrapper .next {
    float: right;
    padding-top: 10px;
}

.e-sprint-choice-with-calendar-wrapper .next, .e-sprint-choice-with-calendar-wrapper .prev {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Weekdays (Mon-Sun) */
.e-sprint-choice-with-calendar-wrapper .weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
}

.e-sprint-choice-with-calendar-wrapper .weekdays li {
    display: inline-block;
    width: 11.9%;
    color: #333;
    text-align: center;
}

.e-sprint-choice-with-calendar-wrapper .weekdays li.active {
    color: var(--button-primary-bg);
    font-weight: bold;
}

/* Days (1-31) */
.e-sprint-choice-with-calendar-wrapper .cells {
    padding: 10px 0;
    background: #f5f5f5;
    margin: 0;
}

.e-sprint-choice-with-calendar-wrapper .cells li {
    list-style-type: none;
    display: inline-block;
    width: 11.9%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

/* Highlight the "current" day */
.e-sprint-choice-with-calendar-wrapper .cells .active {
    padding: 2px;
    background: var(--button-primary-bg);
    color: white
}

.e-sprint-choice-with-calendar-wrapper .date {
    margin-top: 10px;
}

.e-sprint-choice-with-calendar-wrapper .end-date {
    border: 2px solid brown;
}

.e-sprint-choice-with-calendar-wrapper .start-date {
    border: 2px solid green;
}

.e-sprint-choice-with-calendar-wrapper .task {
    font-weight: bold;
    margin: 10px 0;
}

.e-sprint-choice-with-calendar-wrapper .task a {
    margin: 0 5px;
}

.e-sprint-choice-with-calendar-wrapper .task img {
    cursor: pointer;
}
