.e-sprint-task {
    font-weight: bold;
    margin: 10px 0;
}

.e-sprint-task a {
    margin: 0 5px;
}

.e-sprint-task img {
    cursor: pointer;
}

.e-sprint-task .copied {
    display: none;
    font-weight: 200;
    margin-left: 10px;
}

.e-sprint-task .copied.visible {
    display: initial;
}
